<mat-toolbar color='primary'>
  <span><mat-icon>sleep</mat-icon></span>
  <span>Wind Down</span>
  <span class="example-spacer"></span>
</mat-toolbar>

<mat-card>

  
  <mat-form-field class="example-full-width">
    <mat-icon matPrefix>
      <span class="material-symbols-sharp">
        workspaces
      </span>
    </mat-icon>
    <mat-label>Book Title</mat-label>
    <input matInput formControlName="bookTitle">
  </mat-form-field>


<button mat-raised-button color="warn" (click)="findBookByTitle()" style="width: 200px;">
  try it out     
</button>