<mat-toolbar color='accent'>
  <mat-icon matPrefix>
    <span class="material-symbols-sharp">
      local_library
    </span>
  </mat-icon>
  
  <span style="margin-left: 24px;">Book Finder</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<div class="ex-container">
  <div class="form-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Explore New Book Options</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="bookSearchStrings" >
          <mat-form-field class="example-full-width">
            <mat-icon matPrefix>
              <span class="material-symbols-sharp">
                title
              </span>
            </mat-icon>
            <mat-label>Book Title</mat-label>
            <input matInput formControlName="bookTitle">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-icon matPrefix>
              <span class="material-symbols-sharp">
                person_edit
              </span>
            </mat-icon>
            <mat-label>Book Author</mat-label>
            <input matInput formControlName="bookAuthor">
          </mat-form-field>
          <button mat-raised-button color="basic" (click)="findBookByTitle()" style="width: 200px;">
            Search
          </button>
          <button mat-raised-button color="basic" (click)="reset()" style="width: 200px;">
            Reset
          </button>
        </form>
      </mat-card-content>
    </mat-card>
    <mat-divider></mat-divider>
  </div>
</div>

  <br>
  <div class="card-wrapper">
  <!-- <div class="cards" > -->
       
      <div fxLayout="row" fxLayoutGap="10" class="example-card" *ngFor="let item of returnedData">
        <div>
          <mat-card *ngIf="item.volumeInfo.title && item.volumeInfo.publisher" style="max-width: 1080px;" >
            
            <mat-card-header>
              <mat-card-title>{{item.volumeInfo.title }}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{item.volumeInfo.imageLinks.thumbnail}}">
            <mat-divider></mat-divider>
            <br>
            <mat-card-content>
              <!-- <div *ngIf="item.volumeInfo.title.Author"> AUTHOR: {{item.volumeInfo.title.Author}}</div> -->
              <div *ngIf="item.volumeInfo.authors">
                  <mat-card-subtitle>Author(s)
                    
                  </mat-card-subtitle>
                <div *ngFor="let sub of item.volumeInfo.authors ">
                  <span> {{sub}}</span>
                </div>
              </div>
              <mat-card-subtitle> 
                Publisher
              </mat-card-subtitle>
                <span> {{item.volumeInfo.publisher}}</span>
              <br>
              <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Book Description
                    </mat-panel-title>

                  </mat-expansion-panel-header>
                  <p>{{item.volumeInfo.description}}</p>
                </mat-expansion-panel>
              </mat-accordion>
      
            </mat-card-content>
         
          </mat-card>
      </div>
    <!-- </div> -->
  </div>
 

